.footer {
}
.wrapper-footer {
  max-width: 1472px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 80px; */
  /* padding-right: 80px; */
}
.footer-container {
  /* padding-top: 200px; */
  padding-bottom: 120px;
}
.footer-list {
  display: flex;
  justify-content: space-between;
}
.footer-item {
  display: flex;
  flex-wrap: wrap;
  max-width: 470px;
  height: 280px;
}
.footer__logo-link {
  height: 0px;
}
.footer__logo-img {
  padding-bottom: 23px;
}
.footer__description {
  max-width: 365px;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.footer__rights {
  display: flex;
  align-self: flex-end;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.footer__list-card {
}
.footer__item-card {
}
.footer__item-card-title {
  padding-bottom: 24px;
}
.footer__item-card-title-link {
  color: rgb(251, 215, 132);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.footer__item-card-link {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.footer__item-card:not(:last-child) {
  padding-bottom: 16px;
}