
.container-hero {
    display: flex;
    gap: 24px;
}
.hero-content {
    display: flex;
    max-width: 754px;
    flex-direction: column;
    justify-content: space-between
}
.section-hero-heading {
    color: rgb(17, 24, 39);
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    margin-top: 0px;
    margin-bottom: 12px;
}
.section-hero-description {
    color: rgb(17, 24, 39);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
}
.hero-form {
    border-radius: 16px;
    background-color: rgb(249, 250, 251);
    padding: 24px 27px 24px 27px;
    max-width: 756px;
}
.order-form-text {
    text-align: center;
    margin-bottom: 28px;
}
.order-form-heading {
    color: rgb(17, 24, 39);
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}
.order-form-description {
    color: rgb(17, 24, 39);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
/* Инпуты  */
.order-form-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin-bottom: 28px;
}
.order-form-input input {
    color: rgb(156, 163, 175);
font-size: 16px;
font-weight: 400;
line-height: 24px;
    border: 2px solid rgb(17, 24, 39);
    border-radius: 4px;
    width: 236px;
    height: 48px;
    padding: 12px;
}
.order-form-input1 input {
    color: rgb(156, 163, 175);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: 2px solid rgb(17, 24, 39);
    border-radius: 4px;
    width: 496px;
    height: 48px;
    padding: 12px;
}
.bottenn {
    text-align: center;
}
.btn-form {
    align-self: stretch;
}
@media (max-width:1536px) {
    .container-hero {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .hero-content {
        flex-direction: row;
        gap: 16px;
        max-width: 1026px;
    }
    .hero-delivery {
        flex: 0 1 505px;
    }
    .section-hero-heading {
        font-size: 30px;
        line-height: 36px;
    }
    .section-hero-description {
        flex-grow: 1;
        flex-shrink: 1;
    }
    .hero-content-logo {
        flex: 0 1 505px;
    }
    .hero-form {
        max-width: 1026px;
        padding-left: 135.5px;
        padding-right: 135.5px;
    }
}
@media (max-width:1180px) {
    .hero-content {
        flex-direction: column;
    }
    .hero-delivery {
        flex: none;
    }
    .hero-content-logo {
        flex: none;
        align-self: center;
        max-width: 924px;
    }
    .hero-form {
        max-width: 1026px;
        padding-left: 99.5px; 
        padding-right: 99.5px;
    }
}
@media (max-width:768px) {
    .hero-form {
        padding-left: 0; 
        padding-right: 0;
    }
}


